<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="Dashboard">-->
    <!--<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">-->

    <!--<title>医学学联社</title>-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="/assets/css/bootstrap.css" rel="stylesheet">-->
    <!--&lt;!&ndash;external css&ndash;&gt;-->
    <!--<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">-->
    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--<link href="/assets/css/style.css" rel="stylesheet">-->
    <!--<link href="/assets/css/style-responsive.css" rel="stylesheet">-->
    <!--<script src="/assets/js/jquery.js"></script>-->
    <!--<link href="/assets/css/kkpager_blue.css" rel="stylesheet">-->
    <!--<script src="/assets/js/kkpager.js"></script>-->
    <!--<script src="/assets/js/pageTool.js"></script>-->
    <!--<script src="/assets/js/jquery-1.8.3.min.js"></script>-->
    <!--<script src="/assets/js/bootstrap.min.js"></script>-->
    <!--<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>-->
    <!--<script src="/assets/js/jquery.scrollTo.min.js"></script>-->
    <!--<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>-->
    <!--<script src="/assets/js/jquery.sparkline.js"></script>-->
    <!--<script src="/assets/layer/layer.js"></script>-->


    <!--&lt;!&ndash;common script for all pages&ndash;&gt;-->
    <!--<script src="/assets/js/common-scripts.js"></script>-->

    <!--<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>-->
    <!--<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>-->

    <!--&lt;!&ndash;script for this page&ndash;&gt;-->
    <!--<script src="/assets/js/sparkline-chart.js"></script>-->
    <!--<script src="/assets/js/zabuto_calendar.js"></script>-->
    <!--<script src="/assets/js/chart-master/Chart.js"></script>-->

    <!--&lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="/assets/js/html5shiv.js"></script>-->
    <!--<script src="/assets/js/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--<script>-->
        <!--window.addEventListener('touchmove', func, {passive: false})-->
    <!--</script>-->
<!--</head>-->
<!--<body>-->

<!--<section id="container">-->
    <!--&lt;!&ndash; **********************************************************************************************************************************************************-->
    <!--TOP BAR CONTENT & NOTIFICATIONS-->
    <!--*********************************************************************************************************************************************************** &ndash;&gt;-->
    <!--&lt;!&ndash;header start&ndash;&gt;-->
    <!--<header class="header black-bg">-->
    <!--</header>-->
    <!--<script>-->
        <!--$('.header').load('/publicHtml/header.html')-->
    <!--</script>-->
    <!--&lt;!&ndash;header end&ndash;&gt;-->

    <!--&lt;!&ndash; **********************************************************************************************************************************************************-->
    <!--MAIN SIDEBAR MENU-->
    <!--*********************************************************************************************************************************************************** &ndash;&gt;-->
    <!--&lt;!&ndash;sidebar start&ndash;&gt;-->
    <!--<aside>-->
        <!--<div id="sidebar" class="nav-collapse ">-->
            <!--&lt;!&ndash; sidebar menu start&ndash;&gt;-->
            <!--<ul class="sidebar-menu" id="nav-accordion">-->

                <!--<p class="centered"><a href="../profile.html"><img src="../assets/img/ui-sam.jpg" class="img-circle"-->
                                                                   <!--width="60"></a></p>-->
                <!--<h5 class="centered">Marcel Newman</h5>-->

                <!--<li class="mt">-->
                    <!--<a href="index.html">-->
                        <!--<i class="fa fa-dashboard"></i>-->
                        <!--<span>Dashboard</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-desktop"></i>-->
                        <!--<span>UI Elements</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a href="../general.html">General</a></li>-->
                        <!--<li><a href="../buttons.html">Buttons</a></li>-->
                        <!--<li><a href="../panels.html">Panels</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-cogs"></i>-->
                        <!--<span>Components</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a href="../calendar.html">Calendar</a></li>-->
                        <!--<li><a href="../gallery.html">Gallery</a></li>-->
                        <!--<li><a href="../todo_list.html">Todo List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-book"></i>-->
                        <!--<span>Extra Pages</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a href="../blank.html">Blank Page</a></li>-->
                        <!--<li><a href="../login.html">Login</a></li>-->
                        <!--<li><a href="../lock_screen.html">Lock Screen</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-tasks"></i>-->
                        <!--<span>Forms</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a href="../templates/form_component.html">Form Components</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a class="active" href="javascript:;">-->
                        <!--<i class="fa fa-th"></i>-->
                        <!--<span>用户菜单管理</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li class="active"><a href="../basic_table.html">用户管理</a></li>-->
                        <!--<li><a href="../responsive_table.html">菜单管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class=" fa fa-bar-chart-o"></i>-->
                        <!--<span>Charts</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a href="../morris.html">Morris</a></li>-->
                        <!--<li><a href="../chartjs.html">Chartjs</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

            <!--</ul>-->
            <!--&lt;!&ndash; sidebar menu end&ndash;&gt;-->
            <!--&lt;!&ndash;<script>&ndash;&gt;-->
            <!--&lt;!&ndash;$('#sidebar').load('/publicHtml/sidebar.html')&ndash;&gt;-->
            <!--&lt;!&ndash;</script>&ndash;&gt;-->
        <!--</div>-->

    <!--</aside>-->
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <!--<section id="main-content">-->
        <section class="wrapper">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> 人员管理 <i style="cursor:pointer; float: right;margin-right: 50px; color: #68dff0;" class="fa fa-plus-circle fa-2x" onclick="add();"></i></h4>
                            <hr>
                            <thead>
                            <tr>
                                <th><i class="fa fa-user"></i> 姓名</th>
                                <th><i class="fa fa-facebook"></i> 用户名</th>
                                <th><i class="fa fa-meh-o"></i> 性别</th>
                                <th><i class="fa fa-phone"></i> 电话</th>
                                <th><i class="fa fa-edit"></i> 操作</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id='tbody'>
                            </tbody>
                        </table>
                        <div id="kkpager"></div>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

        </section>
        <! --/wrapper -->
    <!--</section>-->
<!-- /MAIN CONTENT -->

    <!--&lt;!&ndash;main content end&ndash;&gt;-->
    <!--&lt;!&ndash;footer start&ndash;&gt;-->
    <!--<footer class="site-footer">-->
        <!--<script>-->
            <!--$('.site-footer').load('/publicHtml/footer.html')-->
        <!--</script>-->
    <!--</footer>-->

    <!--&lt;!&ndash;footer end&ndash;&gt;-->
<!--</section>-->

<!-- js placed at the end of the document so the pages load faster -->


<!--script for this page-->
<script type="text/javascript">
    $(function(){
        initData(1, 15);
    })
    function initData(n, pageSize) {
        $("#tbody").empty();
        $.get("/sys/queryList", {'pageNum': n, 'pageSize': pageSize}, function (data) {
            initPage(n, pageSize, data.data.total);
            var str = '';
            var list = data.data.list;
            $.each(list, function (n, val) {
                str += '<tr>' +
                    '                                <td>' +
                    '                                    <a href="basic_table.html#">' +
                    '                                        ' + val.nickname + '' +
                    '                                    </a>' +
                    '                                </td>' +
                    '                                <td class="hidden-phone">' + val.account + '</td>' +
                    '                                <td>' + (val.sex == 1 ? '男' : '女') + '</td>' +
                    '                                <td><span class="label label-warning label-mini">' + val.phone + '</span></td>' +
                    '                                <td>' +
                    '                                    <button class="btn btn-success btn-xs" onclick="editStatus('+val.status+', '+val.id+')"><i class="fa '+(val.status == 0?'fa-check':'fa-ban')+'" title="'+(val.status == 0?'启用':'禁用')+'"></i></button>' +
                    '                                    <button class="btn btn-primary btn-xs" onclick="edit(\''+val.nickname+'\',\''+val.account+'\', \''+val.sex+'\', \''+val.phone+'\', \''+val.id+'\')"><i class="fa fa-pencil"></i></button>' +
                    '                                    <button class="btn btn-danger btn-xs" onclick="delete1('+val.id+')"><i class="fa fa-trash-o "></i></button>' +
                    '                                </td>' +
                    '                            </tr>'
            });
            $("#tbody").append(str);
        });
    }
    function editStatus(obj, id){
        if(obj == 1){
            obj = 0;
        }else{
            obj = 1;
        }
        layer.confirm('确定修改状态？', {
            btn: ['确定','取消']
        }, function(){
            $.post("/user/editStatus", {'status': obj, 'id': id}, function (data) {
                if(data == 'success'){
                    layer.msg(
                        '修改成功',{
                            icon:1,
                            time:2000
                        }
                    )
                    initData(1, 15);
                }
            });
        },function () {
            layer.closeAll('dialog');
        });
    }
    function delete1(id){
        layer.confirm('确定删除？', {
            btn: ['确定','取消']
        }, function(){
            $.post("/user/delete", {'id': id}, function (data) {
                if(data == 'success'){
                    layer.msg(
                        '删除成功',{
                            icon:1,
                            time:2000
                        }
                    )
                    initData(1, 15);
                }
            });
        },function () {
            layer.closeAll('dialog');
        });
    }
    function edit(nickname,account,sex,phone, id){
        data = {
            nickname : nickname,
            account : account,
            sex : sex,
            phone : phone,
            id : id
        }
        layer.open({
            type: 2, //Layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）,
            shade:0.1, //遮罩层透明度
            area:['650px','300px'], //弹出层宽高
            scrollbar: false,
            title:'信息修改',//弹出层标题
            content: ['/form/userEdit.html','no'],
            end: function () {
                initData(1,15);
            }
        });
    }
    function add(){
        layer.open({
            type: 2, //Layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）,
            shade:0.1, //遮罩层透明度
            area:['650px','300px'], //弹出层宽高
            scrollbar: false,
            title:'新增',//弹出层标题
            content: ['/form/userAdd.html','no'],
            end: function () {
                initData(1,15);
            }
        });
    }
</script>


<!--</body>-->
<!--</html>-->
