<section class="wrapper">

    <div class="row">
        <div class="col-lg-9 main-chart">

            <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                    <div class="box1">
                        <span class="fa fa-users" title="社团成员数"></span>
                        <h3><span id="users">0</span></h3>
                    </div>
                    <!--<p>933 People liked your page the last 24hs. Whoohoo!</p>-->
                </div>
                <div class="col-md-3 col-sm-3 box0">
                    <div class="box1">
                        <span class="fa fa-eye" title="当日浏览量"></span>
                        <h3><span id="lls">0</span></h3>
                    </div>
                    <!--<p>48 New files were added in your cloud storage.</p>-->
                </div>
                <div class="col-md-3 col-sm-3 box0">
                    <div class="box1">
                        <span class="fa fa-eye" title="总浏览量"></span>
                        <h3><span id="zls">0</span></h3>
                    </div>
                    <!--<p>You have 33 unread messages in your inbox.</p>-->
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="fa fa-download" title="文件下载数量"></span>
                        <h3><span>0</span></h3>
                    </div>
                    <!--<p>More than 10 news were added in your reader.</p>-->
                </div>
                <!--<div class="col-md-2 col-sm-2 box0">-->
                <!--<div class="box1">-->
                <!--<span></span>-->
                <!--<h3>OK!</h3>-->
                <!--</div>-->
                <!--<p>Your server is working perfectly. Relax & enjoy.</p>-->
                <!--</div>-->

            </div><!-- /row mt -->


            <div class="row mt">
                <!-- SERVER STATUS PANELS -->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn donut-chart">
                        <div class="white-header">
                            <h5>SERVER LOAD</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <p><i class="fa fa-database"></i> 70%</p>
                            </div>
                        </div>
                        <canvas id="serverstatus01" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 70,
                                    color: "#68dff0"
                                },
                                {
                                    value: 30,
                                    color: "#fdfdfd"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <! --/grey-panel -->
                </div><!-- /col-md-4-->


                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>TOP PRODUCT</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <p><i class="fa fa-heart"></i> 122</p>
                            </div>
                            <div class="col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="centered">
                            <img src="/assets/img/product.png" width="120">
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 mb">
                    <!-- WHITE PANEL - TOP USER -->
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>TOP USER</h5>
                        </div>
                        <p><img src="/assets/img/ui-zac.jpg" class="img-circle" width="80"></p>
                        <p><b>Zac Snider</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="small mt">MEMBER SINCE</p>
                                <p>2012</p>
                            </div>
                            <div class="col-md-6">
                                <p class="small mt">TOTAL SPEND</p>
                                <p>$ 47,60</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->


            </div><!-- /row -->


            <div class="row">
                <!-- TWITTER PANEL -->
                <div class="col-md-4 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>DROPBOX STATICS</h5>
                        </div>
                        <canvas id="serverstatus02" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 60,
                                    color: "#68dff0"
                                },
                                {
                                    value: 40,
                                    color: "#444c57"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <p>April 17, 2014</p>
                        <footer>
                            <div class="pull-left">
                                <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                            </div>
                            <div class="pull-right">
                                <h5>60% Used</h5>
                            </div>
                        </footer>
                    </div>
                </div>


                <div class="col-md-4 mb">
                    <!-- INSTAGRAM PANEL -->
                    <div class="instagram-panel pn">
                        <i class="fa fa-instagram fa-4x"></i>
                        <p>@THISISYOU<br/>
                            5 min. ago
                        </p>
                        <p><i class="fa fa-comment"></i> 18 | <i class="fa fa-heart"></i> 49</p>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-4 mb">
                    <!-- REVENUE PANEL -->
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>REVENUE</h5>
                        </div>
                        <div class="chart mt">
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%"
                                 data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color=""
                                 data-highlight-line-color="#fff" data-spot-radius="4"
                                 data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                        </div>
                        <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
                    </div>
                </div><!-- /col-md-4 -->

            </div><!-- /row -->

            <div class="row mt">
                <!--CUSTOM CHART START -->
                <div class="border-head">
                    <h3>健康宣教</h3>
                </div>
                <div class="custom-bar-chart" id = "jkxj">

                </div>
                <!--custom chart end-->
            </div><!-- /row -->

        </div><!-- /col-lg-9 END SECTION MIDDLE -->


        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->

        <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->
            <h3>通知公告</h3>
            <div id="noticesMain">
            </div>

            <!-- USERS ONLINE SECTION -->
            <h3>社团成员</h3>
            <div id="usersMain">

            </div>

            <!-- CALENDAR-->
            <div id="calendar" class="mb">
                <div class="panel green-panel no-margin">
                    <div class="panel-body">
                        <div id="date-popover" class="popover top"
                             style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                            <div class="arrow"></div>
                            <h3 class="popover-title" style="disadding: none;"></h3>
                            <div id="date-popover-content" class="popover-content"></div>
                        </div>
                        <div id="my-calendar"></div>
                    </div>
                </div>
            </div><!-- / calendar -->

        </div><!-- /col-lg-3 -->
    </div>
    <! --/row -->
</section>
</section>
<style type="text/css">
    .desc{
        width:100%;
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    }
</style>
<script type="text/javascript">
    $(function () {
        $.get("/pc/qjzs", '', function (data) {
            $('#users').text(data.users);
            $('#lls').text(data.lls);
            $('#zls').text(data.zls);
            $('#noticesMain').empty();
            var str = '';
            $.each(data.noticeList, function (n, val) {
                str += "<div class=\"desc\" style='height: 80px;'>\n" +
                    "                      \t<div class=\"thumb\">\n" +
                    "                      \t\t<span class=\"badge bg-theme\"><i class=\"fa fa-clock-o\"></i></span>\n" +
                    "                      \t</div>\n" +
                    "                      \t<div class=\"details\" >\n" +
                    "                      \t\t<p style='float: left;' title='"+val.content+"'><muted>"+val.sendDate+"</muted><br/>\n" +
                    "                      \t\t   <a href=\"#\">"+val.title+":</a> "+val.content+"<br/>\n" +
                    "                      \t\t</p>\n" +
                    "                      \t</div>\n" +
                    "                      </div>";
            });
            $('#noticesMain').append(str);

            $('#usersMain').empty();
            var strUser = '';
            $.each(data.userList, function (n, val) {
                strUser += "<div class=\"desc\">\n" +
                    "                    <div class=\"thumb\">\n" +
                    "                    <img class=\"img-circle\" src=\"/assets/img/ui-sam.jpg\" width=\"35px\" height=\"35px\" align=\"\">\n" +
                    "                    </div>\n" +
                    "                    <div class=\"details\">\n" +
                    "                    <p><a href=\"#\">"+val.nickname+"</a><br/>\n" +
                    "                    <muted>"+val.phone+"</muted>\n" +
                    "                    </p>\n" +
                    "                    </div>\n" +
                    "                    </div>";
            });
            $('#usersMain').append(strUser);

        });
        $.get("/article/getList", '', function (data){
            $('#jkxj').empty();
            var str = '';
            $.each(data.data, function (n, val) {
                str += "<div class=\"desc\" style='height: 80px;'>\n" +
                    "                      \t<div class=\"thumb\">\n" +
                    "                      \t\t<span class=\"badge bg-theme\"><i class=\"fa fa-bookmark-o\"></i></span>\n" +
                    "                      \t</div>\n" +
                    "                      \t<div class=\"details\" >\n" +
                    "                      \t\t<p style='float: left;' title='"+val.present+"'><muted>"+val.dataStr+"</muted><br/>\n" +
                    "                      \t\t   <a  href=\"/article/goArticle?id="+val.id+"\" target='_blank'>"+val.title+":</a> "+val.present+"<br/>\n" +
                    "                      \t\t</p>\n" +
                    "                      \t</div>\n" +
                    "                      </div>";
            });
            $('#jkxj').append(str);
        });
    })
</script>