<link href="../../assets/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/style.css" rel="stylesheet">
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/layer/layer.js"></script>
<script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<div class="form-horizontal" id="editUser"
     style="align-items: center">
    <p style="margin: auto 220px;margin-top: 30px;"><strong style="font-size: 20px;">标题:</strong><input type="text"
                                                                                                        style="width: 350px;height: 30px;"
                                                                                                        id="title"
                                                                                                        name="title"/>
    </p>
    <br/>
    <p style="margin: auto 20px;margin-top: 30px;"><strong style="font-size: 20px;">文章介绍:</strong><textarea
                                                                                                          style="width: 800px;height: 140px;"
                                                                                                          id="present"
                                                                                                             name="present"></textarea>
    </p>
    <br/>
    <p style="margin: auto 20px;"><div class="ckeditor" style="width: 800px;height: 300px" id="content"
                                       name="content"></div></p>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-5 col-xs-1">
            <button class="btn btn-primary" id="save">发布</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace('content');
    $("#save").click(function () {
        var title = $("#title").val();
        var present = $("#present").val();
        var content = CKEDITOR.instances.content.getData();
        if (title == '' || title == null) {
            layer.msg('标题不能为空', {
                icon: 2,
                time: 2000
            });
        } else if (present == '' || present == null) {
            layer.msg('文章介绍不能为空', {
                icon: 2,
                time: 2000
            });
        } else if (content == '' || content == null) {
            layer.msg('内容不能为空', {
                icon: 2,
                time: 2000
            });
        } else {
            $.post("/article/insert", {
                title: title,
                content: content,
                present: present
            }, function (data) {
                var index = parent.layer.getFrameIndex(window.name);
                if (data == 'success') {
                    layer.msg('新增成功', {
                        icon: 1,
                        time: 1000
                    }, function () {
                        parent.layer.close(index);
                    });
                } else {
                    layer.msg('未知错误', {
                        icon: 2,
                        time: 2000
                    });
                }
            });
        }

    })
</script>
