<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.common.dao.ArticelInfoMapper">
    <resultMap id="BaseResultMap" type="com.hc.common.pojo.ArticelInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="data_date" property="dataDate" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.hc.common.pojo.ArticelInfoWithBLOBs" extends="BaseResultMap">
        <result column="present" property="present" jdbcType="LONGVARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, data_date, user_id
  </sql>
    <sql id="Blob_Column_List">
    present, content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_articel_info_b
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_articel_info_b
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hc.common.pojo.ArticelInfoWithBLOBs">
    insert into t_articel_info_b (id, data_date, user_id, 
      present, content)
    values (#{id,jdbcType=INTEGER}, #{dataDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{present,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hc.common.pojo.ArticelInfoWithBLOBs">
        insert into t_articel_info_b
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dataDate != null">
                data_date,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="present != null">
                present,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="dataDate != null">
                #{dataDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="present != null">
                #{present,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hc.common.pojo.ArticelInfoWithBLOBs">
        update t_articel_info_b
        <set>
            <if test="dataDate != null">
                data_date = #{dataDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="present != null">
                present = #{present,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hc.common.pojo.ArticelInfoWithBLOBs">
    update t_articel_info_b
    set data_date = #{dataDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      present = #{present,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.hc.common.pojo.ArticelInfo">
    update t_articel_info_b
    set data_date = #{dataDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryList" resultType="com.hc.common.pojo.ArticelInfoWithBLOBs">
        select
        a.id,a.present,a.content,a.data_date dataStr,b.nickname userId
        from t_articel_info_b a
        inner join f_user b on a.user_id = b.account
        where 1=1
        <if test="present!=null and present!=''">
          and present like concat('%', #{present},'%')
        </if>

    </select>
</mapper>